<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
    <div class="hero-unit">
        <h1>Logged user: <span sec:authentication="name" /></h1>
        <p>
            Welcome to the Spring Boot Thymeleaf Application! The time is: <strong
                th:text="${#temporals.format(now, 'dd/MMM/yyyy HH:mm')}">31/12/2015 15:00</strong>
        </p>
        <p>
            <a href="#" th:href="@{properties}" class="btn btn-large btn-success">Check System Properties</a>
        </p>
    </div>

    <div>
        <h1>This application is deployed on Azure</h1>
    </div>
</th:block>
</body>
</html>
